/*  Font Families */

@font-face {
  font-family: "Nexa", "Montserrat", sans-serif;
  src: url('../fonts/nexa-light.otf') format(opentype);
  src: url('../fonts/nexa-black.otf') format(opentype);
  src: url('../fonts/nexa-bold.otf') format(opentype);
}


/* Universal Styles */

html, body {
  font-size: 16px;
  font-family: "Nexa", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(74, 146, 246);
}

strong {
  font-weight: bold;
}

h1 {
  font-family: "Nexa", sans-serif;
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: .04rem;
  color: rgb(74, 74, 74);
  margin: 0;
}

h2 {
  font-family: "Nexa", sans-serif;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: .04rem;
  color: rgb(74, 74, 74);
  margin: 0
}

h3 {
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  color: rgb(74, 74, 74);
}

.image-container-large {
  width: 59%;
  overflow: hidden;
  margin: 32px 24px;
}

.image-container-large img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-container-small {
  width: 35%;
  overflow: hidden;
  margin: 1rem;
}

.image-container-small img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 14px;
  }
}


/* Header Stylers */

header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  overflow: scroll;
  z-index: 5;
  top: 0;
}

.header-container {
  margin: 0 auto;
  max-width: 1440px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 24px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.logo span {
  text-transform: uppercase;
}

#colmar-logo {
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #1B202B;
  margin: 0;
}

#academy-logo {
  font-family: "Nexa", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: #687083;
  margin: 0;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  font-family: "Nexa", sans-serif;
  font-weight: normal;
  margin-left: 16px;
  font-size: 1.125rem;
  text-decoration: none;
  color: #1B202B;
}

nav.mobile-nav {
  display: none;
}

nav li {
  display: inline;
  padding-right: 1rem;
}

nav li:last-child {
  padding-right: 0;
}


/* Banner Stylers */

.banner {
  max-width: 100%;
  background-color: rgb(216, 216, 216);
  position: relative;
  top: 64px;
}

.banner-container {
  max-width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-details {
  width: 600px;
}

.banner-content {
  max-width: 400px;
  margin-left: 16px;
  margin-right: 16px;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner-content h3 {
  margin-bottom: 3rem;
}

.banner-content .main-cta-btn {
  font-size: 1.25rem;
  color: #fff;
  background-color: rgb(74, 74, 74);
  padding: 1rem 7rem;
}


/* Information Section */

.information {
  position: relative;
  max-width: 100%;
  background-color: rgb(243, 245, 245);
  top: 64px;
}

.feature-container {
  width: 60%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#image-container-large {
  overflow: hidden;
  margin: 32px 24px;
}

#image-container-large img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feature-details {
  font-size: 1.25rem;
  margin: 0 1.5rem;
  line-height: 1.4;
}

.info img.mobile {
  display: none;
}

.feature-details h2 {
  margin-bottom: 1rem;
}

.feature-details p {
  margin-bottom: 2rem;
  line-height: 1.5;
}


/* Side Info */

.side-info-desktop {
  width: 40%;
  border-left: 1px solid rgb(216, 216, 216);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-info-mobile {
  display: none;
}

.info-card {
  margin-top: 16px;
  margin-bottom: 75px;
}

.info {
  border-bottom: 1px solid rgb(216, 216, 216);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.info img {
  width: 35%;
  padding: 1rem;
}

.info-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-content h3 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.info-content span {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: rgb(125, 125, 125);
}

.info-content a {
  font-weight: 300;
}


/* Course Section */

.courses {
  position: relative;
  top: 64px;
  background-color: rgb(216, 216, 216);
  width: 100%;
}

.courses h2 {
  margin: 64px auto;
  text-align: center;
}

.course-container {
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 32px;
}

.course-card {
  width: 370px;
  margin-right: 32px;
  margin-bottom: 2rem;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.course-card .thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.course-container:last-child {
  margin-right: 0rem;
}

.course-card-content {
  padding: 0 0 3rem 1.5rem;
}

.course-card-content span {
  color: rgb(125, 125, 125);
  font-size: 1.25rem;
  font-weight: lighter;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.course-card-content .category {
  text-transform: uppercase;
  display: block;
}

#course-card-3, #course-card-6 {
  margin-right: 0;
}


/* Thesis Section */

.thesis {
  position: relative;
  max-width: 100%;
  background-color: rgb(243, 245, 245);
  top: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.thesis h2 {
  margin: 64px auto 32px auto;
  text-align: center;
}

.thesis-content {
  width: 60%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2rem;
  color: rgb(125, 125, 125);
}

.video-container-large {
  overflow: hidden;
  margin: 32px 16px 24px 24px;
}

.video-container-large video {
  display: block;
  max-width: 100%;
  height: auto;
}

.thesis-details {
  font-size: 1.25rem;
  margin: 0 1.5rem;
  line-height: 1.4;
}

#side-info-desktop {
  border-left: none;
}

#info {
  border-bottom: none;
}

#info span {
  font-size: 1.125rem;
  color: rgb(125, 125, 125);
}


/* Footer Section */

footer {
  position: relative;
  top: 64px;
  max-width: 100%;
  height: 110px;
  border-top: 1px solid rgb(216, 216, 216);
  color: rgb(125, 125, 125);
  background-color: rgb(243, 245, 245);
}

.copyright {
  text-align: left;
  margin: 24px;
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ts-and-cs {
  text-align: right;
  display: inline-block;
  margin: 24px;
}

.ts-and-cs a {
  padding-right: 1rem;
}
